.footer{
    margin: 200px 0 0 0 ;

    .logos{
        margin-bottom: 20px;
        >div{
            background-color: #EC7160;
            display: inline-block;
            padding: 0 10px 0 5px;
            border-radius: 50%;
        }
        & p{
            font: 400 normal 24px 'Damion', cursive;
            color: white;
            padding: 0;
            margin: 0;
        }
    }

    .contact{
        display: flex;
        justify-content: space-between;

        & p, & span, & a{
            font: 400 normal 13px 'Inter', sans-serif;
        }
        & span{
            color: #898989;
        }
        & a{
            text-decoration: none;
            color: #EC7160;
            margin: 0 5px;
        }
    }
}