.singlePage{
    width: 100%;

    .flex{
        display: flex;
        justify-content: space-between;


        >img{
            width: 80%;
            height: auto;
        }
    }
    .w-60{
        width: 65% !important;
    }
    .w-40{
        width: 35%;
    }
    .w-20{
        width: 30%;
    }
    .h-340{
        height: 340px;
    }
    .images{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        & img{
            width: 90%;
            height: 32%;
            margin: 0 18px 5px 0;
            object-fit: scale-down;
        }
        & img:last-child{
            margin-bottom: 0;
        }
    }
    .information{
        margin-left: 35px;

        >h3{
            font: 400 normal 26px 'Inter', sans-serif;
            margin-bottom: 13px;
        }
        .price{
            color: #898989;
            font: 400 normal 20px 'Inter', sans-serif;
            margin-bottom: 26px;
        }

        >div>span{
            font: 400 normal 13px 'Inter', sans-serif;
            color: #505050;
            margin-left: 10px;
        }
        >div>select{
            border: none;
            border-radius: 7px;
            width: 150px;
            color: #898989;
            margin: 20px 0 15px 0;
            background-color: #F6F6F6;
            padding: 10px 12px;

        }
        .description{
            margin-top: 20px;
            font: 400 normal 16px 'Inter', sans-serif;
        }
        & input[type="number"]{
            padding: 6px;
            border: none;
            background-color: #F6F6F6;
            border-radius: 7px;
            width: 54px;
            text-align: center;
        }
        & input[type="number"]::-webkit-inner-spin-button,
        & input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        & button{
            width: 80%;
            border-radius: 7px;
            border: none;
            color: white;
            background-color: #EC7160;
            text-align: center;
            padding: 10px 0;
            margin-left: 10px;
        }
        .tags{
            margin-top: 20px;
            font: 400 normal 13px 'Inter', sans-serif;

            >span{
                color: #898989;
            }
        }


    }
    .des{
        text-align: center;
        border-bottom: 1px solid #E7E7E9;

        >button{
            background-color: #F6F6F6;
            border-top-left-radius: 5px;
            border: 1px solid #E7E7E9;
            padding: 10px;
            width: 20%;
            margin: 100px 0 0 0;
        }
        >button:last-child{
            border-top-left-radius: 0 ;
            border-top-right-radius: 5px ;
        }
    }
    & p{
        font: 400 normal 16px 'Inter', sans-serif;
        margin-top: 30px;
    }
}























